# -*- coding: utf-8 -*-
###############################################################################
# Author: SVAKSHA, Wednesday 09 Oct 2013 12:29:03 PM IST 
###############################################################################


#====================================================
# GENERAL
#====================================================
tags
MANIFEST


#====================================================
# USE GLOB SYNTAX
#====================================================
syntax: glob
*.elc


#====================================================
# IPYTHON Notebooks
#====================================================
.ipynb_checkpoints/*
notebooks/*

#====================================================
# PYTHON PACKAGES / Byte-compiled / optimized / DLL files
#====================================================
__pycache__/
*.egg
*.egg-info/
*.pyc
*.pyo
*.swp
*.py[cod]
*~
.installed.cfg
include
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore


#====================================================
# DATABASE
#====================================================
*.sql
*.sqlite
ehthumbs.db
Thumbs.db
config/databases.yml
cache

# DATA folders
#----------------------------------------------------
**/datum
datum/
datum/**


#====================================================
# C extensions
#====================================================
*.so

#====================================================
# INSTALLER ERROR LOGS
#====================================================
pip-log.txt
*error_log.txt
*.log
log/
pip-delete-this-directory.txt

#====================================================
# QA/ UNIT TEST / COVERAGE REPORTS
#====================================================
.coverage
.tox
.cache
coverage.xml
nosetests.xml
htmlcov/


#====================================================
# i18 / i10 TRANSLATIONS
#====================================================
*.mo

#====================================================
# DOCS : SPHINX
#====================================================
docs/_build/


#====================================================
# Mr Developer
#====================================================
.mr.developer.cfg
.project
.pydevproject

#====================================================
# OS JUNK FILES
#====================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#====================================================
# EDITOR: Vi
#====================================================
*.swp


