#!/usr/bin/env python3.3
# -*- coding: utf-8 -*-
"""
Created on Wed Oct  9 12:29:03 2013
@author: @svaksha
"""

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Files that might appear on external disk
.Trashes