cython==0.20.1
bottle==0.11.6
distribute==0.6.45
h5py==2.3.0
numba==0.13.2
numpy==1.8.1
pandas==0.14.0
pillow==2.4.0
plotly==0.5
python-dateutil==2.1
pytz==2014.3
requests==2.3.0
scipy==0.14.0  
six==1.6.1
yolk==0.4.3
